
* {
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    color: black;
    font-family: Tahoma, sans-serif;
}
.dark-mode {
    background-color: black  !important;
    color: white  !important;
}
header {
    display: flex;
    justify-content: space-evenly;
}
.logo-container {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    background-color: yellow;
}
main {
    margin: 0 auto;
    margin-top: 30px;
}
h1 {
    text-align: center;
}
img,
picture,
video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.center {
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
li {
    margin: 0;
    padding: 0;
}