* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    color: black;
}
header {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
    padding-inline: 15% 15.42%;
}
main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
footer {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid lightgray;
    padding-inline: 15% 15.42%;
}
.center-text {
    text-align: center;
}
.pink-bg {
    background-color: #FF91AF;
}
.gray-bg {
    background-color:lightgray;
    color: black;
}
.black-bg {
    background-color: black !important;
    color: white;
}
.nav-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 600;
}
.logo-container {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    background-color: #FF91AF;
}
.nav-logo-title {
    color: black;
}
.hero-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button {
    font-size: 12px;
    padding: 14px;
    border-radius: 12px;
    font-weight: normal;
}
button:hover {
    cursor: pointer;
}
.primary-btn {
    background-color: black;
    color: white;
}
.secondary-btn {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
.hero-landing a:link, a:visited {
    font-size: 12px;
    padding: 14px;
    border-radius: 12px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: white;
}
h2 {
    margin: 24px 0 0 0;
}
h3 {
    margin: 12px 0 12px 0;
}
img,
picture,
video {
    max-width: 100%;
}
li {
    padding: 1em;
    list-style-type: none;
}
.center {
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.full-width {
    display: flex;
    justify-content: space-around;
}
.padding-10 {
    padding: 10px;
}
.category-box {
	margin: 1em auto;
}
.card-container {
    /* display: flex;
    justify-content: space-evenly; */
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
@media (min-width: 600px) {
  .card-container { grid-template-columns: repeat(2, 1fr); }
}
.project-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    background-color: #FF91AF;
    border-radius: 24px;
    border: 2px solid black;
}
/*

.card-container {    
    width: 1500px;
    max-width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32.5px;
    flex-wrap: wrap;
}
.project-card {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding: 26px 22px;
    flex: 1 1;
    background-color: #FF91AF;
    border-radius: 24px;
}
*/
.dark-mode {
    background-color: black ;
    color: white;
}
.dark-mode header {
    background-color: black;
    color: white;
}
.dark-mode section {
    background-color: black;
    color: white;
}
.dark-mode .nav-logo-title {
    color: white;
}
.dark-mode .hero-landing {
    background-color: black;
    color: white;
}
.dark-mode button {
    background-color: white;
    color: black;
}
.dark-mode #hero-button {
    background-color: white !important;
    color: black;
}
.dark-mode .project-card {
    color: black;
}
/* .project-card ul {
    display: flex;
    justify-content: space-between;
}
/*
@media screen and (min-width: 600px) {
    body {
        color: black;
        background-color: white;
    }
    .flex-wrapper {
        display: flex;
    }

    .col-1 {
        flex: 1;
        padding: 12px;
    }

    .col-2 {
        flex: 2;
        padding: 12px;
    }
    
}
    */