
* {
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    max-width: 100%;
    color: black;
    background-color: white;
    font-family: Tahoma, sans-serif;
}

main {
    max-width: 400px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}

img,
picture,
video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
q {
    font-size: 12px;
}